@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Big+Shoulders+Display:wght@700&family=Karla&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Poppins:wght@100;200;300;400;600;700&family=Raleway:wght@300&family=Red+Hat+Display:wght@900&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,900;1,400&family=Spartan:wght@700&display=swap');

:root, body {
    font-family: 'Karla', sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
.content__img {
    width: 240px;
    margin-bottom: 32px;
}
.content__icon {
    width: 36px;
    margin-bottom: 24px;
}
.page {
    padding-left: 30%;
    padding-right: 30%;
    background-image: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.banner__image {
    margin: 80px 0;
}
.banner, .content, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__company-list {
    display: flex;
    justify-content: center;
}
.paragraph {
    margin-bottom: 40px;
    opacity: 0.5;
}
.title {
    margin-bottom: 12px;
    opacity: 0.8;
}
.subtitle {
    margin-bottom: 12px;
    opacity: 0.8;
}
.btn {
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    color: #fff;
    width: 240px;
    height: 40px;
    transition: all 0.3s;
}
.btn__mac:hover {
    background-color: hsl(233, 100%, 72%);
    border-color: hsl(233, 100%, 72%);
}
.btn__ios {
    margin-bottom: 12px;
    background-color: hsl(171, 66%, 44%);
    border: 2px solid hsl(171, 66%, 44%);
}
.btn__ios:hover {
    background-color: hsl(171, 66%, 48%);
    border-color: hsl(171, 66%, 48%);
}
.btn__mac {
    margin-bottom: 120px;
    background-color: hsl(233, 100%, 69%);
    border: 2px solid hsl(233, 100%, 69%);
}
.content__external-company-icons {
    margin-bottom: 48px;
}
.footer {
    background-color: rgba(190, 190, 190, 0.1);
}
.footer__image {
    max-width: 48px;
    margin: 40px 0;
}
.footer__link {
    text-decoration: none;
    color: hsl(201, 11%, 66%);
    margin-bottom: 12px;
    transition: all 0.3s;
}
.footer__link:hover {
    color: hsl(171, 66%, 48%);
}
.footer__company-image {
    transition: all 0.3s;
    max-width: 18px;
    margin: 20px 12px 40px;
}
.footer__company-image:hover {
   filter: saturate(1000%) invert() hue-rotate(180deg)
}
.subtitle__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__links-wrapper {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 850px) {
    .page {
        padding: 0 10%;
        background-size: contain;
    }
    .btn {
        margin-right: 12px;
    }
    .content__wrapper {
        display: flex;
        flex-direction: row;
    }
    .subtitle__wrapper {
        margin-bottom: 32px;
    }
    .content__img {
        width: 400px;
    }
    .img-pos {
        position: relative;
        right: 120px;
        margin-bottom: 32px;
    }
    .content__external-company-icons {
        margin-right: 24px;
    }
    .footer {
        padding: 32px 0;
        flex-direction: row;
        align-items: flex-start;
    }
    .footer__image {
        margin: 0 auto;
    }
    .footer__links-wrapper {
        margin-right: auto;
        text-align: left;
    }
    .footer__company-list {
        margin: 0 auto 0 80px;
    }
}